<header class="card-header">
  <div style="display: flex; flex-direction: row; align-content: center;" >
    <div
    style="display: flex; flex-direction: column; max-width: 4em;">
      {{ range .Params.categories  }}
      {{ if eq . "menschen"}}
      <a style="margin-top: 5px;" href="/categories/{{ . | urlize }}" class="card-banner" data-taxonomy="{{ print "category-" . | urlize }}">{{ . }}</a>
      {{ else }}
      <a style="margin-top: 5px; background-color: coral;" href="/categories/{{ . | urlize }}" class="card-banner" data-taxonomy="{{ print "category-" . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
    </div>

    <h1 style="margin-left: 20px;"class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

  </div>
  

  <div class="card-meta">
    <span>{{ with .PublishDate }}<time datetime="{{ . }}">{{ cond (eq (.Format "2006") (now.Format "2006")) (.Format "Jan 2") (.Format "Jan 2 2006") }}</time> · {{ end }}{{ .ReadingTime }} min read</span>
    {{- if .Params.categories }}
    <ul class="taxonomy-list_tags">
    {{- range first 5 (.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}" class="taxonomy-item">{{ .LinkTitle }}</a></li>
    {{- end }}
    </ul>
    {{- end }}
  </div>
  {{ partial "entry/authors" . }}
  {{ partialCached "entry/feature" . .Page }}
</header>
